/* FOR MOBILES ~ 4inch */
@media only screen and (max-width: 21rem) {
    .about-section {
        gap: .5rem;
    }

    .about-title {
        text-align: right;
        margin-top: 10%;
        font-size: 1.5rem;
        font-family: euclid-bold;
    }

    .about-section p {
        font-size: .9rem;
        line-height: 1.6rem;
    }

    .about-section article {
        margin-bottom: 20%;
        text-align: justify;
        text-justify: inter-word;
    }
}

/* FOR MOBILES iPhone X etc. */
@media only screen and (min-width: 21.1rem) {
    .about-section {
        margin: 30% 12% 0 12%;
        gap: .5rem;
    }

    .about-section article {
        margin-bottom: 20%;
        text-align: justify;
        text-justify: inter-word;
    }

    .about-title {
        text-align: right;
        margin-top: 10%;
        font-size: 1.8rem;
        font-family: euclid-bold;
    }

    .about-section p {
        font-size: 1rem;
        line-height: 1.7rem;
    }
}

/* SMALLER TABLETS */
@media only screen and (min-width: 36rem) {
    .about-section {
        grid-template-columns: 1fr;
        margin: 25% 12% 0 12%;
        gap: .5rem;
    }

    .about-title {
        font-size: 2.2rem;
    }

    .about-section p {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}

/* FOR iPads */
@media only screen and (min-width: 48rem) {
    .about-section {
        margin: 20% 12% 0 12%;
        gap: 2.5rem;
    }

    .about-section .image-responsive {
        width: 80%;
        margin: 0 auto;
    }

    .about-title {
        font-size: 2.4rem;
        width: 80%;
        margin: 10% auto 8% auto;
    }

    .about-section p {
        width: 80%;
        margin: 0 auto;
        font-size: 1.3rem;
        line-height: 2.5rem;
    }

}

/* FOR DESKTOPS & LAPTOPS */
@media only screen and (min-width: 74rem) {
    .about-section {
        grid-template-columns: 1fr 1fr;
        margin: 16% 8% 20% 8%;
        gap: 4rem;
    }

    .about-section .image-responsive {
        width: 100%;
    }

    .about-title {
        display: none;
    }

    .about-title-next {
        display: block;
        text-align: left;
        margin-top: 0;
        font-size: 2.4rem;
        font-family: euclid-bold;
        margin-bottom: 15%;
    }

    .about-section p {
        width: 100%;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 80rem) {
    .about-title-next {
        font-size: 2.7rem;
    }

    .about-section p {
        font-size: 1.3rem;
        line-height: 2.7rem;
    }
}

/* 1440 pixels width */
@media only screen and (min-width: 90rem) {
    .about-section {
        margin: 14% 10% 15% 10%;
        gap: 4rem;
    }

    .about-section p {
        font-size: 1.4rem;
        line-height: 2.8rem;
    }

    .about-title-next {
        font-size: 3rem;
    }

}

/* Full HD */
@media only screen and (min-width: 120rem) {
    .about-section {
        margin: 10% 15% 10% 15%;
        gap: 6rem;
    }

    .about-section p {
        font-size: 1.6rem;
        line-height: 3rem;
    }

    .about-title-next {
        font-size: 3.4rem;
    }
}