/* FOR MOBILES ~ 4inch */
@media only screen and (max-width: 21rem) {
    .about-section {
        gap: .5rem;
    }

    .about-title {
        text-align: right;
        margin-top: 10%;
        font-size: 1.3rem;
        font-family: euclid-bold;
    }

    .about-section p {
        font-size: .75rem;
    }

    .about-section article {
        margin-bottom: 20%;
        text-align: justify;
        text-justify: inter-word;
    }
}

/* FOR MOBILES iPhone X etc. */
@media only screen and (min-width: 21.1rem) {
    .about-section {
        margin: 30% 12% 0 12%;
        gap: .5rem;
    }

    .about-section article {
        margin-bottom: 20%;
        text-align: justify;
        text-justify: inter-word;
    }

    .about-title {
        text-align: right;
        margin-top: 10%;
        font-size: 1.4rem;
        font-family: euclid-bold;
    }

    .about-section p {
        font-size: .8rem;
    }
}

/* SMALLER TABLETS */
@media only screen and (min-width: 36rem) {
    .about-section {
        grid-template-columns: 1fr;
        margin: 25% 12% 0 12%;
        gap: .5rem;
    }

    .about-title {
        font-size: 1.6rem;
    }

    .about-section p {
        font-size: 1rem;
    }
}

/* FOR iPads */
@media only screen and (min-width: 48rem) {
    .about-section {
        grid-template-columns: 1fr 1fr;
        margin: 25% 8% 0 8%;
        gap: 2.5rem;
        min-height: 70vh;
    }

    .about-title {
        display: none;
    }

    .about-title-next {
        display: block;
        text-align: left;
        margin-top: 0;
        font-size: 1.6rem;
        font-family: euclid-bold;
    }

    .about-section p {
        font-size: 1rem;
    }

}

/* FOR DESKTOPS & LAPTOPS */
@media only screen and (min-width: 64rem) {
    .about-section {
        margin: 20% 10% 10% 10%;
        gap: 3rem;
    }

    .about-section p {
        font-size: 1.1rem;
    }

    .about-title-next {
        font-size: 1.8rem;
    }
}

/* 1440 pixels width */
@media only screen and (min-width: 90rem) {
    .about-section {
        margin: 15% 10% 10% 10%;
        gap: 4rem;
    }

    .about-section p {
        font-size: 1.1rem;
    }

    .about-title-next {
        font-size: 1.7rem;
    }

}

/* Full HD */
@media only screen and (min-width: 120rem) {
    .about-section {
        margin: 10% 15% 10% 15%;
        gap: 6rem;
    }

    .about-section p {
        font-size: 1.3rem;
    }

    .about-title-next {
        font-size: 2rem;
    }
}