/* FOR MOBILES ~ 4inch */
@media only screen and (max-width: 21rem) {
    .clients-section {
        gap: 0rem;
    }

    .clients-header {
        font-size: 1.3rem;
        text-align: center;
        margin-top: 25%;
        margin-bottom: 25%;
    }

    .clients-header .fa-heart {
        font-size: 1.2rem;
    }

    .clients-section p {
        font-family: euclid-bold;
        text-align: center;
    }

    .clients-section p:last-child {
        margin-bottom: 20%;
    }
}

/* FOR MOBILES iPhone X etc. */
@media only screen and (min-width: 21.1rem) {
    .clients-section {
        margin: 25% 12% 0 12%;
        gap: 0rem;
    }

    .clients-header {
        font-size: 1.4rem;
        font-family: euclid-bold;
        text-align: center;
        margin-top: 25%;
        margin-bottom: 20%;
    }

    .clients-header .fa-heart {
        font-size: 1.4rem;
    }

    .clients-section p {
        font-family: euclid-bold;
        text-align: center;
    }

    .clients-section p:last-child {
        margin-bottom: 20%;
    }
}

/* SMALLER TABLETS */
@media only screen and (min-width: 36rem) {
    .clients-section {
        grid-template-columns: 1fr;
        margin: 20% 15% 0 15%;
    }

    .clients-header {
        font-size: 1.6rem;
    }

    .clients-header .fa-heart {
        font-size: 1.6rem;
    }
}

/* FOR iPads */
@media only screen and (min-width: 48rem) {
    .clients-section {
        margin: 10% 15% 0 15%;
        gap: 1rem;
    }

    .clients-header {
        font-size: 1.7rem;
        margin-bottom: 10%;
    }

    .clients-header .fa-heart {
        font-size: 1.7rem;
    }
}

/* FOR DESKTOPS & LAPTOPS */
@media only screen and (min-width: 64rem) {
     .clients-section {
        margin: 6rem 12rem 0 12rem;
    }

    .clients-header {
        font-size: 1.8rem;
        margin-top: 15%;
    }

    .clients-header .fa-heart {
        font-size: 1.6rem;
    }
}

/* 1440 pixels width */
@media only screen and (min-width: 90rem) {
    .clients-section {
        margin: 6rem 18rem 0 18rem;
    }

    .clients-header {
        font-size: 2rem;
        margin-top: 15%;
    }

    .clients-header .fa-heart {
        font-size: 1.8rem;
    }
}

/* Full HD */
@media only screen and (min-width: 120rem) {
    .clients-section {
        margin: 6rem 24rem 0 24rem;
    }

    .clients-header {
        font-size: 2.2rem;
        margin-top: 15%;
    }

    .clients-header .fa-heart {
        font-size: 2rem;
    }
}