@media only screen and (max-width: 35.99rem) {
    .fabric-gallery {
        margin: 35% 10% 0 10%;
    }
}

@media only screen and (min-width: 36rem) {
    .fabric-gallery {
        grid-template-columns: 1fr 1fr;
        margin: 20% 5% 0 5%;
    }

    .fabric-gallery .image-responsive:first-child {
        grid-column: 1 / span 2;
        width: 80%;
        margin: 0 auto;
    }

    .fabric-gallery .image-responsive:nth-child(3) {
        margin-top: 60%;
    }

    .fabric-gallery .image-responsive:nth-child(4) {
        margin-top: -40%;
    }

    .fabric-gallery .image-responsive:nth-child(5) {
        margin-top: 5%;
    }

    .fabric-gallery .image-responsive:nth-child(6) {
        grid-column: 1 / span 2;
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 36rem) {
    .fabric-gallery {
        margin: 20% 10% 0 10%;
        gap: 4rem;
    }
}

@media only screen and (min-width: 64rem) {
    .fabric-gallery {
        margin: 15% 15% 0 15%;
        gap: 5rem;
    }

    .fabric-gallery .image-responsive:first-child {
        width: 70%;
    }

    .fabric-gallery .image-responsive:nth-child(6) {
        width: 70%;
    }
}


@media only screen and (min-width: 90rem) {
    .fabric-gallery {
        margin: 15% 20% 0 20%;
        gap: 6rem;
    }

    .fabric-gallery .image-responsive:first-child {
        width: 65%;
    }

    .fabric-gallery .image-responsive:nth-child(6) {
        width: 65%;
    }
}

@media only screen and (min-width: 120rem) {
    .fabric-gallery {
        margin: 10% 25% 0 25%;
        gap: 7rem;
    }

    .fabric-gallery .image-responsive:first-child {
        width: 60%;
    }

    .fabric-gallery .image-responsive:nth-child(6) {
        width: 60%;
    }
}