@media only screen and (max-width: 35.99rem) {
    .magnus-gallery {
        margin: 35% 10% 0 10%;
    }

    .magnus-gallery .image-responsive:nth-child(4) {
        width: 120%;
        margin-left: -10%;
    }

    .magnus-gallery .image-responsive:nth-child(9) {
        width: 120%;
        margin-left: -10%;
    }
}

@media only screen and (min-width: 36rem) {
    .magnus-gallery {
        grid-template-columns: 1fr 1fr;
        margin: 20% 5% 0 5%;
    }

    .magnus-gallery .image-responsive:first-child {
        grid-column: 1 / span 2;
        width: 80%;
        margin: 0 auto;
    }

    .image-responsive:nth-child(2) {
        width: 120%;
    }

    .image-responsive:nth-child(3) {
        width: 120%;
        margin: 120% 0 0 -20%;
    }

    .image-responsive:nth-child(4) {
        grid-column: 1 / span 2;
    }

    .image-responsive:nth-child(9) {
        grid-column: 1 / span 2;
    }

}

@media only screen and (min-width: 48rem) {
    .magnus-gallery {
        margin: 20% 10% 0 10%;
        gap: 4rem;
    }
}

@media only screen and (min-width: 64rem) {
    .magnus-gallery {
        margin: 15% 15% 0 15%;
        gap: 5rem;
    }

    .magnus-gallery .image-responsive:first-child {
        width: 70%;
    }
}

@media only screen and (min-width: 90rem) {
    .magnus-gallery {
        margin: 15% 20% 0 20%;
        gap: 6rem;
    }
}

@media only screen and (min-width: 120rem) {
    .magnus-gallery {
        margin: 10% 25% 0 25%;
        gap: 7rem;
    }
}