/* FOR MOBILES iPhone X etc. */
@media only screen and (min-width: 21.01rem) {
    .main-logo a {
        font-size: 1.05rem;
    }

    .caption {
        font-size: .7rem;
    }

    /* RETURN BUTTON */
    .return {
        font-size: .8rem;
    }

    /* HOME BUTTON */
    .fa-home {
        font-size: 1.2rem;
    }

    /* HAMBURGER MENU */
    .showMenu ul {
        line-height: 5rem;
        font-size: 1.8rem;
    }

    .showMenu ul li:last-child a{
        margin: 1.2rem;
    }

    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        margin: 5px;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-4px, -4px);
    }

    /* MAIN */
    section {
        margin: 25% 10% 0 10%;
    }
    
    .text {
        font-size: 1.1rem;
    }

    .img-caption {
        font-size: 1rem;
    }

    footer {
        font-size: .7rem;
    }

    /* Credits in galleries */
    .credits h2 {
        font-size: 1.2rem;
    }

    .credits p {
        font-size: .7rem;
    }
}

/* SMALLER TABLETS */
@media only screen and (min-width: 36rem) {
    .main-logo {
        margin: 25% auto 0 auto;
    }

    .main-logo a {
        font-size: 1.2rem;
    }

    /* RETURN BUTTON */
    .return {
        font-size: 1rem;
    }

    /* HOME BUTTON */
    .home-btn {
        top: 7.25%;
    }

    .fa-home {
        font-size: 1.4rem;
    }

    .sticky-menu {
        top: 5%;
    }

    .showMenu ul {
        line-height: 6rem;
        font-size: 2rem;
    }

    .showMenu ul li:last-child a{
        margin: 1rem;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        margin: 6px;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    /* MAIN */
    section {
        grid-template-columns: 1fr 1fr;
        margin: 40% 5% 0 5%;
    }

    .image-card:nth-of-type(odd) {
        margin-top: -10rem;
    }

    .img-caption {
        font-size: .9rem;
    }

    .fa-long-arrow-alt-right {
        font-size: .9rem;
    }

    footer {
        font-size: .8rem;
    }

    /* Credits in galleries */
    .credits h2 {
        font-size: 1.6rem;
    }

    .credits p {
        font-size: .85rem;
    }

    .credits {
        grid-column: 1 / span 2;
    }
}

/* iPads */
@media only screen and (min-width: 48rem) {
    /* HEADER */
    .main-logo {
        margin: 20% auto 0 auto;
    }

    .main-logo a {
        font-size: 1.6rem;
    }

    .caption {
        font-size: 1rem;
    }

    /* RETURN BUTTON */
    .return {
        font-size: 1.1rem;
        top: 7.5%;
    }

    /* HOME BUTTON */
    .home-btn {
        top: 7.5%;
    }

    .fa-home {
        font-size: 1.6rem;
    }

    .sticky-menu {
        top: 6%;
    }

    /* MAIN */
    section {
        margin: 35% 8% 0 8%;
    }

    .img-caption {
        font-size: 1rem;
    }

    .fa-long-arrow-alt-right {
        font-size: 1rem;
    }

    footer {
        font-size: .85rem;
    }

    /* Credits in galleries */
    .credits h2 {
        font-size: 1.7rem;
    }

    .credits p {
        font-size: .9rem;
    }
}

/* FOR DESKTOPS & LAPTOPS */
@media only screen and (min-width: 64rem) {
    /* HEADER */
    .main-logo {
        margin: 15% auto 0 auto;
    }

    .main-logo a {
        font-size: 1.8rem;
    }

    .caption {
        font-size: 1.1rem;
    }

    /* RETURN BUTTON */
    .return {
        font-size: 1.3rem;
    }

    .fa-home {
        font-size: 1.8rem;
    }

    /* MAIN SECTION */

    section {
        grid-template-columns: 1fr minmax(50px, 10%) minmax(50px, 10%) 1fr;
        margin: 25% 10% 0 10%;
        gap: 2rem;
    }

    .image-card:nth-of-type(odd) {
        margin-top: -10rem;
        margin-bottom: 10rem;
    }

    .image-card:nth-of-type(even) {
        margin-bottom: 10rem;
    }

    .vertical-text {
        display: block;
        writing-mode: vertical-lr;
        text-orientation: sideways;
        transform: rotate(0deg)!important;
        font-size: 2vw;
        text-align: left;
    }

    .vertical-text:nth-of-type(odd) {
        transform: rotate(180deg)!important;
        text-align: right;
    }

    .vertical-text:nth-of-type(even) {
        margin-top: -10rem;
    }

    .v-t-style {
        letter-spacing: 5px;
    }

    .underline-left {
        margin-bottom: 2%;
    }

    .underline-right {
        margin-top: 2%;
    }

    .gallery-link {
        display: block;
        width: 5rem;
        padding: .5rem;
        text-align: center;
        color: #000;
        text-decoration: none;
        margin: 10% auto 0 auto;
        border-radius: 5px;
        font-size: 1rem;
        transition-property: color, background;
        transition-duration: .5s;
    }

    .gallery-link:hover {
        color: #fff;
        background-color: #000;
    }

    .img-caption {
        display: none;
    }

    .img-border {
        display: none;
    }

    .footer {
        font-size: .9rem;
    }

    /* Credits in galleries */
    .credits {
        margin-top: 10%;
    }

    .credits h2 {
        font-size: 1.9rem;
    }
}

/* 1440 pixels width */
@media only screen and (min-width: 90rem) {
    /* HEADER */
    .main-logo {
        margin: 12% auto 0 auto;
    }

    .main-logo a {
        font-size: 2rem;
    }

    .fa-home {
        font-size: 2rem;
    }

    .caption {
        font-size: 1.2rem;
    }

    .sticky-menu {
        top: 6.5%;
    }

    /* MAIN */
    section {
        margin: 20% 12% 0 12%;
        gap: 2rem;
    }

    .overlay {
        height: 99.5%;
    }

    /* RETURN BUTTON */
    .return {
        font-size: 1.4rem;
    }

    .underline-left {
        margin-bottom: 4%;
    }

    .underline-right {
        margin-top: 4%;
    }

    .gallery-link {
        font-size: 1.1rem;
        width: 6rem;
    }

    .footer {
        font-size: 0.95rem;
    }
}

/* Full HD */
@media only screen and (min-width: 120rem) {
    /* HEADER */
    .main-logo {
        margin: 10% auto 0 auto;
    }

    .main-logo a {
        font-size: 2.2rem;
    }

    .fa-home {
        font-size: 2.2rem;
    }

    .caption {
        font-size: 1.3rem;
    }

    .sticky-menu {
        top: 7%;
    }

    /* MAIN */
    section {
        margin: 15% 15% 0 15%;
        gap: 2rem;
    }

    .overlay {
        height: 99.5%;
    }

    /* RETURN BUTTON */
    .return {
        font-size: 1.6rem;
    }

    .gallery-link {
        font-size: 1.3rem;
        width: 7.5rem;
    }

    .footer {
        font-size: 1rem;
    }
}