/* FOR MOBILES ~ 4inch */
@media only screen and (max-width: 21rem) {
    body {
        grid-template-columns: 1fr 3rem;
        grid-template-rows: auto 1fr auto;
    }

    .main {
        margin: 2rem 0 0 1rem;
    }

    .main a {
        font-size: .7rem;
    }

    .menu {
        display: none;
    }

    section {
        grid-template-columns: 1fr;
        margin: 6rem 1rem 0 1rem;
    }

    .image-card:last-child {
        margin-bottom: 2rem;
    }

    footer {
        font-size: .65rem;
    }
}

/* FOR MOBILES iPhone X etc. */
@media only screen and (min-width: 21.1rem) {
    body {
        grid-template-columns: 1fr 3rem;
        grid-template-rows: auto 1fr auto;
    }

    .main {
        margin: 2.5rem 0 0 1rem;
    }

    .main a {
        font-size: .8rem;
    }

    .sticky-menu {
        right: 1.1rem;
        top: 2.5rem;
    }

    .showMenu ul {
        line-height: 6rem;
        font-size: 2rem;
    }

    .showMenu ul li:last-child a{
        margin: 1rem;
    }

    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        margin: 5px;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-4px, -4px);
    }

    section {
        grid-template-columns: 1fr;
        margin: 7rem 1rem 0 1rem;
    }
    
    .text {
        font-size: 1.1rem;
    }

    section:last-child {
        margin-bottom: 4rem;
    }

    .img-caption {
        font-size: 1.1rem;
    }

    footer {
        font-size: .7rem;
    }
}

/* FOR iPads */
@media only screen and (min-width: 48rem) {
    body {
        grid-template-columns: 1fr 3rem;
        grid-template-rows: auto 1fr auto;
    }

    .main { 
        margin: 3rem 0 0 2rem;
    }

    .main a {
        font-size: 1.6rem;
    }

    .sticky-menu {
        right: 2.8rem;
        top: 3.7rem;
    }

    .showMenu ul {
        line-height: 6rem;
        font-size: 2rem;
    }

    .showMenu ul li:last-child a{
        margin: 1rem;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        margin: 6px;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    section {
        grid-template-columns: 1fr 1fr;
        margin: 20rem 2rem 0 2rem;
        min-height: 75vh;
    }

    .image-card:nth-of-type(odd) {
        margin-top: -10rem;
    }

    .img-caption {
        font-size: 1.1rem;
    }

    .fas {
        font-size: .9rem;
    }

    footer {
        font-size: 1rem;
    }
}

/* FOR DESKTOPS & LAPTOPS */
@media only screen and (min-width: 64rem) {
    body {
        grid-template-columns: 1fr 3rem;
        grid-template-rows: auto 1fr auto;
    }

    .main {
        font-size: 2.4rem;
    }

    .sticky-menu {
        right: 4rem;
        top: 4rem;
    }

    /* MAIN SECTION */

    section {
        grid-template-columns: 1fr minmax(50px, 10%) minmax(50px, 10%) 1fr;
        margin: 20rem 3rem 0 3rem;
        gap: 2rem;
    }

    .image-card:nth-of-type(odd) {
        margin-top: -10rem;
        margin-bottom: 10rem;
    }

    .image-card:nth-of-type(even) {
        margin-bottom: 10rem;
    }

    .vertical-text {
        display: block;
        writing-mode: vertical-lr;
        text-orientation: sideways;
        font-size: 2vw;
        text-align: left;
    }

    .vertical-text:nth-of-type(odd) {
        transform: rotate(180deg);
        text-align: right;
    }

    .vertical-text:nth-of-type(even) {
        margin-top: -10rem;
    }

    .v-t-style {
        letter-spacing: 5px;
    }

    .underline-left {
        margin-bottom: 2%;
    }

    .underline-right {
        margin-top: 2%;
    }

    .gallery-link {
        display: block;
        text-align: center;
        color: #000;
        text-decoration: none;
        margin-top: 5%;
        font-size: .9rem;
    }

    .gallery-link:hover {
        color: #909090;
        transition: .6s;
    }

    .img-caption {
        display: none;
    }

    .img-border {
        display: none;
    }
}

/* 1440 pixels width */
@media only screen and (min-width: 90rem) {
    section {
        grid-template-columns: 1fr minmax(50px, 10%) minmax(50px, 10%) 1fr;
        margin: 22rem 4rem 0 4rem;
        gap: 2rem;
    }

    .underline-left {
        margin-bottom: 4%;
    }

    .underline-right {
        margin-top: 4%;
    }

    .gallery-link {
        font-size: 1rem;
    }

    .img-caption {
        font-size: 1.3rem;
    }

    .fas {
        font-size: 1.1rem;
    }
}

/* Full HD */
@media only screen and (min-width: 120rem) {
    .img-caption {
        font-size: 1.8rem;
    }

    .fas {
        font-size: 1.3rem;
    }
}