/* SOME CUSTOM FONTS */
@font-face {
    src: url('../fonts/FUTRFW.TTF');
    font-family: future;
}

@font-face {
    src: url('../fonts/Euclid\ Flex\ Trial/Euclid Flex Trial.ttf');
    font-family: euclid;
}

@font-face {
    src: url('../fonts/Euclid\ Flex\ Trial\ Bold/Euclid Flex Trial Bold.ttf');
    font-family: euclid-bold;
}

html {
    font-family: 'euclid';
}

body {
  touch-action: pan-x pan-y;
  overflow-x: hidden;
}

/* ============================================= */
/* PRELOADER */
/* ============================================= */
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    transition: opacity 0.5s ease;
}

.sk-folding-cube {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 48%;
    left: 45%;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
}

/* ============================================= */

video {
    z-index: -1;
}

.overflow {
    overflow: hidden!important;
}

/* ============================================= */
/* HEADER */
/* ============================================= */

.main-logo {
    display: flex;
    align-items: center;
    font-family: 'future';
    text-transform: uppercase;
    margin: 33% auto 0 auto;
}

.main-logo a {
    text-decoration: none;
    color: #000;
    font-size: .9rem;
    margin: 0 auto;
    transition-property: color;
    transition-duration: .5s;
}

.main-logo a:hover {
    color: #909090;
}

.caption {
    font-size: .6rem;
    margin: 2% auto;
    text-align: center;
}

/* ============================================= */
/* NAVBAR */
/* ============================================= */

/* HOME BUTTON */
.home-btn {
    position: fixed;
    left: 5%;
    top: 6.5%;
    z-index: 1;
}

.home-btn a {
    text-decoration: none;
    color: #000;
}

.fa-home {
    font-size: 1rem;
}

/* RETURN BUTTON */
.return {
    position: fixed;
    font-size: .7rem;
    z-index: 10;
    left: 3%;
    top: 6.5%;
    letter-spacing: 1px;
}

.return a {
    text-decoration: none;
    color: #000;
    padding: .5rem;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .5);
    transition-property: color;
    transition-duration: .5s;
}

.return a:hover {
    color: #909090;
}

/* HAMBURGER MENU */
.sticky-menu {
    position: fixed;
    right: 4%;
    top: 5.5%;
    z-index: 1;
}

.container {
  cursor: pointer;
  display: inline-block;
}

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.5s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-4px, 4px);
  background-color: #fff;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -4px);
  transform: rotate(45deg) translate(-4px, -4px);
  background-color: #fff;
}

/* Menu overlay */
.showMenu {
    display: block;
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 0%;
    top: 0;
    /* opacity: 0; */
    visibility: hidden;
    left: 0;
    z-index: 1;
    transition: .5s ease-out;
}

.showMenu a {
    text-decoration: none;
    color: #fff;
    transition-property: color;
    transition-duration: .5s;
}

.showMenu ul {
    display: flex;
    flex-direction: column;
    height: 0%;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    line-height: 4rem;
    font-size: 1.6rem;
    transition: 0.6s;
    padding: 0;
    visibility: hidden;
    opacity: 0;
}

.showMenu ul li:last-child a{
    margin: .7rem;
}

.showMenu ul li a:hover {
    color: #909090;
}

.menu-opacity {
    /* opacity: 1!important; */
    visibility: visible!important;
    height: 100%!important;
}

.ul-show {
    visibility: visible!important;
    height: 100%!important;
    opacity: 1!important;
}

/* ============================================= */
/* MAIN */
/* ============================================= */
main {
    grid-column: span 2;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 25% 8% 0 8%;
    gap: 3rem;
}

.image-wrapper {
    position: relative;
}

/* Just image itself */
.image-responsive {
  width: 100%;
  height: auto;
}

/* DIV OVERLAYING IMG */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.image-card .image-wrapper .portfolio-link:hover .overlay{
    opacity: .5;
}

.text {
  color: white;
  font-size: .9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text img {
    width: 100%;
    height: auto;
}

/* Mobile image captions  */
.img-caption {
    font-size: .9rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 10%;
}

.img-caption span {
    padding: .5rem;
}

.img-caption a {
    text-decoration: none;
    color: #000;
    transition-property: color;
    transition-duration: .5s;
}

.img-caption a:hover {
    color: #909090;
}

.image-card:last-child {
    margin-bottom: 20%;
}

/* Font-awesome arrow */
.fa-long-arrow-alt-right{
    font-size: .8rem;
}

/* IMG hr */
.img-border {
    margin-top: 20%;
    width: 2rem;
    height: 3px;
    background-color: #000;
    padding: 0;
    border: none;
}

/* Desktop gallery link */
.gallery-link {
    display: none;
}

/* DESKTOP Vertical Text */
.vertical-text {
    display: none;
}

.vertical-text a {
    text-decoration: none;
    color: #000;
}

/* ============================================= */
/* FOOTER */
/* ============================================= */
footer {
    font-size: .7rem;
    grid-column: span 2;
    text-align: center;
}

footer p {
    margin-block-start: 0;
    margin-block-end: 1%;
}


footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    border-bottom: 1px solid #000;
    transition: .6s;
}

/* ABOUT SECTION */
.about-title-next {
    display: none;
}

/* Credits in galleries */
.credits {
    text-align: center;
    margin-bottom: 10%;
}

.credits h2 {
    font-family: euclid-bold;
    font-size: 1rem;
    margin-bottom: 10%;
}

.credits p {
    font-size: .6rem;
}